<footer  class="footer" >
    <div class="grid grid__row">
        <div class="lien-he width">
            <div>
               <h1>liên hệ</h1>
               <ul>
                   <li>  <a href=""> <i class="fab fa-facebook"></i></a>   <a href="">  <i class="fab fa-youtube"></i></a></li>
            
               </ul>
        
            </div>
            
        </div>
        <!-- <div class='co-gi-hay width'>
               <h1>ngoài ra có j hay</h1>
               <ul>
                   <li><a href="">top bài viết được nhiều người xem nhất</a></li>
                   <li><a href="">nên học ngôn ngữ lập trình gì</a></li>
               </ul>
        </div> -->
        <div class="flow width">
               <h1>blog tôi theo giỏi</h1>
               <ul>
                   <li><a href="">Tôi đi code dạo</a></li>
                   <li><a href="">codeaholicguy</a></li>
               </ul>
         </div>
    </div>
</footer>