<header>
    <div class="grid">
    <div id="header">
        <div class="header-avata">
            <img class="avata" src="/img/anh-dai-dien.jpg" alt="anh-dai-dien">
        </div>
        <h1 class="title">CoreIt</h1>
        <h2 class="des">“Ta chỉ giàu có qua những gì ta cho đi, và nghèo hơn chỉ qua những gì ta từ chối”.</h2>
        <div class="header-icon">  
         <i class="fab fa-youtube"></i>
        <i class="fab fa-facebook-square"></i>
       
        </div>
       </div>
    </div>
</header>