<% layout('layouts/adminblog')%>
<h1>add blog</h1>
    


    <form  action="/admin/blog" method="POST" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="tiêu đề bài viết" style="width:400px;height:100px">
        <br/>
        <textarea name="des" id="" rows="10" cols="80"></textarea><br>
        <textarea name="content" id="content" rows="10" cols="80" class="content"></textarea> <br/>
    <%if(fileUrls){%>
       <% for(let i=0;i<fileUrls.length;i++){ %>
        <input type="text" name='avata1' id="avata" value="<%= fileUrls[0].url%>"><br>
    <%}%>
    <%}%>
 
        <input type="file" name='avata' id="avata"><br>
        <select name ="topic[title]">   
            <option value="">chọn chủ đề</option>   
            <% for(let topic of topics) {%>             
            <option value ="<%= topic.title%>"> <%= topic.title %> </option>    
        <%}%>
        </select>
        <input type="submit" name="" id="">
    </form>
   

    <script>
        // Replace the <textarea id="editor1"> with a CKEditor 4
        // instance, using default configuration.
       
        // console.log(a)
        CKEDITOR.replace('content', {  
        extraPlugins:'filebrowser',
        filebrowserBrowseUrl:'/list',//upload location
        filebrowserUploadMethod:'form',
        filebrowserUploadUrl:'/admin/upload'//route
    });
        CKEDITOR.replace( 'des' );
       
       config = {};
       config.entities_latin = false;
       config.language = 'vi';
       config.authenticate = true
    </script>
  
